.navbar{
	margin-top: 0px;
	margin-bottom: 0px;
    font-family:微软雅黑;
	font-weight: bold; 
}
.menu{
	font-family:微软雅黑;
	font-weight: bold; 
}
.center{
	text-align: center;
}
.Carousel{
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.carousel-caption h2{
	font-family:微软雅黑;
	font-weight: bold; 
}
.carousel-caption p{
	font-family:微软雅黑;
	font-size: 20px;
}
.list-group{
    padding-top:18px;
}
a.list-group-item{
	text-decoration: none;
	font-family:微软雅黑;
	color:#000000;
	display: block;
}
a.list-group-item:hover{
	height: 100%;
	width: 100%;
	font-family:微软雅黑;
	background-color: #272727;
	color:#FFFFFF;
	text-decoration: none;
	display:block;
	transition:500ms all ease;
}
.list-group-item.active{
	height: 100%;
	width: 100%;
	font-family:微软雅黑;
	background-color: #000000;
	color:#FFFFFF;
	text-decoration: none;
	display:block;
}
.list-group h3{
	font-family:微软雅黑;
	font-size:18px;
	letter-spacing:2px;
}
.a1{
	text-decoration: none;
	color:#6C6C6C;
}
.a1:hover{
	text-decoration: none;
	color:#000000;
}
.footer{
	background-color: #272727;
}
.footer-top p{
	text-align: center;
	color:#FFFFFF;
}
.footer a{
	text-decoration: none;
	color:#FFFFFF;
	font-size: 0.8em;
}
.footer a:hover{
	text-decoration: none;
	color:#ADADAD;
}
.footer-bottom ul{
	text-align: center;
}
.footer-bottom li{
	display: inline-block;
	margin: 0.5em;
}
#row1{
	margin-right:-150px; 
}
ul{
	list-style: none;
}
.recent-work-wrap {
  position: relative;
  padding:0 0 0 0;
	margin:0 0 0 0;
}
.recent-work-wrap img{
	width: 100%;
	height: 100%;
}
.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
  text-align: center;
  font-family:微软雅黑;
  font-size: 24px;
  letter-spacing:2px;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #FFFFFF;
}
.recent-work-wrap .recent-work-inner p{
	font-family:微软雅黑;
	text-align: center;
	letter-spacing:2px;
	color: #FFFFFF;
}
.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #272727;
  vertical-align: middle;
  transition: opacity 500ms;  
  padding: 30px;
}
.recent-work-wrap:hover .overlay {
  opacity: 0.8;
}
#col1{
	margin-left: -30px;
	margin-right: -30px;
}
#col2{
	margin-right: -30px;
}
.goods h1{
	font-family:微软雅黑;
	font-size:20px;
	letter-spacing:2px;
	color:#3C3C3C;
    text-align:left;
}
.goods h2{
	font-family:宋体;
    letter-spacing:1px;
	font-size:12px;
	color:#CE0000;
}
.goods h3{
	font-family:微软雅黑;
	font-size:20px;
	color:#CE0000;
	display: inline;
}
.goods p{
	font-family:宋体;
	font-size:12px;
    letter-spacing:1px;
	display: inline;
    color:#6C6C6C;
}
#img1{
    text-align:center;
    padding-top:40px;
}
