@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="col-md-7">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>注册</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label">邮箱</label>
                    <div class="col-md-5">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label">密码</label>
                    <div class="col-md-5">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label">确认密码</label>
                    <div class="col-md-5">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MobilePhone" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="MobilePhone" class="form-control" />
                        <span asp-validation-for="MobilePhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HomePhone" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="HomePhone" class="form-control" />
                        <span asp-validation-for="HomePhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OfficePhone" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="OfficePhone" class="form-control" />
                        <span asp-validation-for="OfficePhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="QqNum" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="QqNum" class="form-control" />
                        <span asp-validation-for="QqNum" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">注册</button>
                    </div>
                </div>
            </form>
        </div>
            <div class="col-md-2" id="img1">
                <img src="~/images/account-icon.jpg" />
            </div>
        </div>
        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
