@{
    ViewData["Title"] = "完全写作指南";
}
    <title>书海</title>
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <h3><a class="list-group-item" href="#">文学</a></h3>
                        <p><a href="#" class="a1">诗歌随笔</a>&nbsp&nbsp<a href="#" class="a1">中国文学</a>&nbsp&nbsp<a href="#" class="a1">外国文学</a></p>
                        <h3><a class="list-group-item" href="#">人文社科</a></h3>
                        <p><a href="#" class="a1">心理学</a>&nbsp&nbsp<a href="#" class="a1">社会科学</a>&nbsp&nbsp<a href="#" class="a1">哲学宗教</a></p>
                        <h3><a class="list-group-item" href="#">经管</a></h3>
                        <p><a href="#" class="a1">管理</a>&nbsp&nbsp<a href="#" class="a1">经济</a>&nbsp&nbsp<a href="#" class="a1">投资</a></p>
                        <h3><a class="list-group-item" href="#">励志</a></h3>
                        <p><a href="#" class="a1">人在职场</a>&nbsp&nbsp<a href="#" class="a1">成功学</a>&nbsp&nbsp<a href="#" class="a1">心灵鸡汤</a></p>
                        <h3><a class="list-group-item" href="#">科技</a></h3>
                        <p><a href="#" class="a1">科普读物</a>&nbsp&nbsp<a href="#" class="a1">工业技术</a>&nbsp&nbsp<a href="#" class="a1">农业林业</a></p>
                        <h3><a class="list-group-item" href="#">生活</a></h3>
                        <p><a href="#" class="a1">育儿家教</a>&nbsp&nbsp<a href="#" class="a1">健身保健</a>&nbsp&nbsp<a href="#" class="a1">时尚生活</a></p>
                        <h3><a class="list-group-item" href="#">kindle</a></h3>
                        <p><a href="#" class="a1">购买kindle</a>&nbsp&nbsp<a href="#" class="a1">电子图书</a></p>
                    </div>
                </div>
                <div class="col-md-10">
                    <hr />
                    <div class="input-group col-md-offset-3 col-md-6">
                        <input type="text" class="form-control" placeholder="请输入书名">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-search">搜索</button>
                        </span>
                    </div>
                <hr>
                <div class="goods">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/book1-big.jpg" />
                        </div>
                        <div class="col-md-8">
                            <h1>完全写作指南：从提笔就怕到什么都能写[How to Write Anything:A Complete Guide]</h1><br>
                            <h2>哥伦比亚大学教师三十年教学经验锤炼而成，人手必备的实用写作宝典，二百余个写作模板即学即用</h2><br>
                            <p>[美]劳拉，布朗 著；</p><br>
                            <p>价格：<h3>¥58.50</h3></p><br />
                            <p>服务：由书海配送上门|货到付款</p><br /><br />
                            <a class="btn btn-lg btn-primary" href="#" role="button">加入购物车</a>
                        </div>
                    </div>
                    <hr />
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-inf" role="tab" data-toggle="tab">商品详情</a></li>
                        <li><a href="#tab-mark" role="tab" data-toggle="tab">精彩书评</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-inf">
                            <img src="~/images/book1-details.jpg" />
                        </div>
                        <div class="tab-pane" id="tab-mark">
                            <p>这是一本绝对实用的写作指南。如果你在工作或生活中需要用文字传递信息，那毫无疑问，你需要这本书。
                                     ——伯恩特·施密特  哥伦比亚大学商学院教授<br /><br />

必须说，这是一本值得拥有的参考书！对写好商业邮件、投诉信、道歉信等等方面，布朗提供了简单而直接的建议。在每个案例旁加上“怎样做”和“不要做”版块的确相当有用。
                                                                  ——娱乐周刊<br /><br />

劳拉·布朗写出了一本写作指南，旨在让你的写作变得更简洁凝练、更有说服力，更具沟通性。学生、商务人士，甚至是经验丰富的专业作家都应该随时带着这本书，它和字典、辞典同等重要。
                                           ——米歇尔·斯内尔  文学代理人，作家<br /><br />

《完全写作指南》是在这个数字通信如此发达的时代中，我所看到的一本指向写作核心的书。书中的讲解适合每一个人。
                                       ——玛丽·奥尔森  数字商务设计与开发先锋<br /><br />

作为一个有三十年教学经验的写作教师，我非常了解年轻写作者们的需求。劳拉·布朗回答了蕞困难的问题：关于怎样开始写作，怎样针对目标读者调整技艺，怎样充实简单的内容，怎样精通表达与辩论。
                                      ——罗杰·马赫妮  帕萨迪纳市立学院助理教授<br /><br />
</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
