@model account
@{
    ViewData["Title"] = "注册";
}
<!doctype html>
<div class="container">
    <hr />
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="username" class="col-md-offset-2 col-md-2 control-label">用户名</label>
            <div class="col-md-4">
                <input asp-for="username" class="form-control" placeholder="请输入用户名">
                <div><span asp-validation-for="username" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="password" class="col-md-offset-2 col-md-2 control-label">密码</label>
            <div class="col-md-4">
                <input asp-for="password" class="form-control" placeholder="请输入密码">
                <div><span asp-validation-for="password" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="eaddress" class="col-md-offset-2 col-md-2 control-label">电子邮箱</label>
            <div class="col-md-4">
                <input asp-for="eaddress" class="form-control" placeholder="请输入电子邮箱">
                <div><span asp-validation-for="eaddress" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" class="btn btn-default">注册</button>
            </div>
        </div>
    </form>
</div>
